.Loser{
    text-decoration: line-through;
}

.Winner{
background-color: springgreen;
    color: red;
    font-size: xx-large;
}
h3{
    background-color: rgb(147,161,202);
    padding: 1%;
}

form{
    margin-left: 100px;
   width: 80%;
    border: solid black ;
    background-color: seashell;
    padding: 5px;
}

.form-check{
    margin-left: 2%;
}

.form-check:hover{
    background-color: #97c4fe;
}


#congratsContainer{
    background-color: #97c4fe;
}

#outOfTime{
    background: white;
    font-weight: bolder;
    margin-top: 25%;
    margin-bottom: 25%;
    min-width: 5%;
    text-align: center;

}

body{
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2806956/wall-clock_outoftime_light4dark_white-black.jpg");
}
.outOfTime{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2806956/wall-clock_outoftime_light4dark_white-black.jpg");
}
#outOfTimeContainer{
    height:20%;
    background-color:gray;
    color: white;
    align-self: stretch;
    text-align: center;
    font-size: larger;
    position:fixed;
    top:50%;
    bottom:50%;
    width:100%;

}
.outOfTimeComponent{
    margin:1.5%;
}

#timeLeft{
    text-align: center;
    border: black;
}

#correctResponse{
    text-align: center;
    font-weight: bolder;

}

#wrongSection{
    margin: 10px;
    max-width: 700px;
    min-width: 300px;
}